.about {
    position: relative;
    padding-bottom: 173px;
    @media (max-width:980px) {
        padding-bottom: 120px; 
    }
    @media (max-width:768px) {
        padding-bottom: 100px;
    }
    @media (max-width:480px) {
        padding-bottom: 80px;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 41px;
        background-image: url(../img/main/about/elem-before.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 410px;
        height: 379px;
        z-index: -1;
        @media (max-width:980px) {
            width: 257px;
            height: 251.29px;
            bottom: 48px;
        }
        @media (max-width:768px) {
            width: 230px;
            height: 229.89px;
            bottom: 31px;
        }
        @media (max-width:480px) {
            display: none;
        }
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: -196px;
        background-image: url(../img/main/about/elem-before2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 440px;
        height: 538.34px;
        z-index: -1;
        @media (max-width:980px) {
            width: 280px;
            height: 362.34px;
            top: -161px;
        }
        @media (max-width:768px) {
            width: 255px;
            height: 323.01px;
            top: 162px;
        }
        @media (max-width:480px) {
            display: none;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        @media (max-width:768px) {
            flex-direction: column;
        }
    }
    &__info {
        padding-top: 20px;
        max-width: 515px;
        @media (max-width:980px) {
            margin-right: 35px;
        }
        @media (max-width:768px) {
            max-width: none;
            padding-top: 0;
            margin: 0;
        }
    }
    &__text {
        font-family: var(--OpenSans);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.7);
        margin: 20px 0 50px;
        @media (max-width:980px) {
            font-size: 14px;
            margin-bottom: 30px;
        }
        @media (max-width:768px) {
            font-size: 12px;
            margin-bottom: 20px;
        }
        @media (max-width:480px) {
            font-size: 12px;
            margin-bottom: 30px;
        }
    }
    &__btn {
        width: 160px;
        height: 40px;
        @media (max-width:980px) {
            width: 134.58px;
            height: 33.64px;
        }
        @media (max-width:768px) {
            width: 241px;
            height: 40px;
            margin: 0 auto;
        }
        @media (max-width:480px) {
            width: 100%;
            height: 44px;
        }

    }
    &__video {
        width: 515px;
        height: 452px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        @media (max-width:980px) {
            width: 428px;
            height: 413px;
            flex: none;
        }
        @media (max-width:768px) {
            width: 100%;
            height: 350px;
            margin-top: 30px;
        }
        @media (max-width:480px) {
            height: 230px;
        }
        @media (max-width:320px) {
            height: 200px;
        } 
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/play.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 104px;
            height: 104px;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%,-50%);
            pointer-events: none;
            @media (max-width:980px) {
                width: 95px;
                height: 95px;
            }
            @media (max-width:480px) {
                width: 84px;
                height: 84px;
            }
            @media (max-width:320px) {
                width: 69px;
                height: 69px;
            }
        }
        a {
            display: block;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.2);
                pointer-events: none;
            }
        }
    }
}