.numbers-or-clinic {
    padding-bottom: 200px;
    @media (max-width:980px) {
        padding-bottom: 140px;
    }
    @media (max-width:768px) {
        padding-bottom: 100px;
    }
    @media (max-width:480px) {
        padding-bottom: 80px;
    }
    &__content {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            background-image: url(../img/main/numbers-or-clinic/tooth.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 237px;
            height: 237px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @media (max-width:980px) {
                width: 199px;
                height: 199px;
            }
            @media (max-width:768px) {
                right: -14px;
                top: -57px;
                transform: translate(0);
            }
            @media (max-width:480px) {
                display: none;
            }
        }
    }
    &__grid {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        max-width: 830px;
        position: relative;
        z-index: 2;
        @media (max-width:980px) {
            max-width: 730px;
        }
        @media (max-width:480px) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:320px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__elem {
        margin-top: 25px;
        @media (max-width:980px) {
            margin-top: 21px;
        }
        p {
            font-family: var(--OpenSans);
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #000000;
            padding-right: 48px;
            @media (max-width:980px) {
                font-size: 12px;
            }
            @media (max-width:768px)  {
                padding-right: 39px;
            }
            @media (max-width:480px) {
                padding-right: 0;
            }
        }
        span {
            font-family: var(--Geometria);
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #000000;
            margin-right: 13px; 
            @media (max-width:980px) {
                font-size: 24px;
                margin-right: 10px;
            }
            @media (max-width:320px) {
                margin-right: 5px;
            }
        }
    }
}