.stock {
    padding-bottom: 150px;
    &__content {
    }
    &__grid {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
    }
}