<div class="out-of-town-patients">
    <div class="wrapper">
        <div class="out-of-town-patients__content">
            <p class="out-of-town-patients__text">
                Стоматология «Улыбка» имеет большой опыт в лечении пациентов со всего Краснодарского края и других регионов страны. Для таких людей мы предлагаем специальную программу обслуживания и индивидуальный подход ко времени посещения специалистов.
            </p>
            <h3 class="out-of-town-patients__title">
                Для иногородних пациентов мы предлагаем:
            </h3>
            <ul>
                <li>Составление графика посещения с возможностью комплексного приема сразу у нескольких специалистов, что позволит выполнить необходимый объем лечения в максимально короткие сроки с минимальным количеством приездов или согласно вашего графика.<br><br></li>
                <li>Имплантация зубов за 24 часа. В нашей клинике успешно применяется метод, благодаря которому за 1 день вы сможете обрести новый зуб. <br><br></li>
                <li>Бронирование гостиниц и отелей для проживания в непосредственной близости от нашей клиники.</li>
            </ul>
        </div>
    </div>
</div>