<div class="licenses-slider">
    <div class="wrapper">
        <div class="licenses-slider__content">
            <h2 class="title title_slider"></h2>

            <div class="owl-licenses owl-carousel owl-theme">

                <div class="owl-licenses__slide">
                    <a style="background-image: url(img/licenses/1.jpg);"></a>
                </div>

                <div class="owl-licenses__slide">
                    <a style="background-image: url(img/licenses/2.jpg);"></a>
                </div>

                <div class="owl-licenses__slide">
                    <a style="background-image: url(img/licenses/3.jpg);"></a>
                </div>

                <div class="owl-licenses__slide">
                    <a style="background-image: url(img/licenses/2.jpg);"></a>
                </div>

                <div class="owl-licenses__slide">
                    <a style="background-image: url(img/licenses/3.jpg);"></a>
                </div>

            </div>

        </div>
    </div>
</div>