<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__top-block">
                <div class="info-block__img info-block__img_hir-imp info-block__img_hir-imp2" style="background-image: url(img/uslugi/udalenie-zubov/1.jpg);">

                </div>
                <div class="info-block__text info-block__text_left">
                    <p>
                        Современная стоматология, к сожалению, не всегда может вылечить и сохранить зубы. Иногда их приходится и удалять. И многие пациенты очень боятся этой процедуры. И как раз напрасно, поскольку опытный стоматолог-хирург работает абсолютно безболезненно и быстро.
                        <br><br>
                        Экстренные удаления хирург проводит в случае острого воспалительного процесса (осложнения после лечения, обострения хронических заболеваний зубов и др).
                        <br><br>
                        Показаний для планового удаления довольно много:
                        <br><br>
                    </p>
                    <ul>
                        <li>сильно поврежденный кариесом зуб, восстановление которого невозможно;</li>
                        <li>механические повреждения;</li>
                        <li>запущенная стадия пародонтита;</li>
                        <li>перелом зуба или зубного корня;</li>
                        <li>атипичное положение зубов мудрости («восьмерок»), мешающее приёму пищи или речи пациента;</li>
                        <li>недостаточный объем костной ткани вокруг зуба;</li>
                        <li>если зуб может привести к искривлению челюсти или нарушению зубного ряда либо прикуса;</li>
                        <li>необходимость для ортодонтического лечения.</li>
                    </ul>
                </div>
            </div>

            <div class="info-block__dop-text">
                В 98% случаев все вмешательства стоматолога-хирурга проходят без проблем и комфортно для пациента. Но возможны индивидуальные реакции, когда пациенту показан полный покой и щадящий режим в ближайшие два-три дня.
            </div>

        </div>
    </div>
</div>