.card-person {
    display: flex;
    justify-content: space-between;
    @media (max-width:480px) {
        flex-direction: column-reverse;
    }
    &__content {

    }
    &__info {
        background: rgba(235, 250, 255, 0.4);
        backdrop-filter: blur(20px);
        padding: 20px;
        border-radius: 10px;
        max-width: 253px;
        position: relative;
        @media (max-width:980px) {
            max-width: 213px;
            padding: 17px;
        }
        @media (max-width:768px) {
            max-width: 334px;
            padding: 20px 30px 20px 16px;
        }
        @media (max-width:480px) {
            max-width: 100%;
            padding: 20px 17px;
        }
        @media (max-width:320px) {
            padding: 25px 15px;
        }
        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #FF6939;
            right: -32px;
            top: 55px;
            @media (max-width:480px) {
                top: -47px;
                right: 140px;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 31px;
            height: 1px;
            background: #FF6939;
            right: -30px;
            top: 59.5px;
            z-index: -1;
            @media (max-width:480px) {
                transform: rotate(-90deg);
                right: 124px;
                top: -21px;
                width: 42px;
            }
        }
    }
    &__name {
        font-family: var(--Geometria);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #000000;
        margin-bottom: 10px;
        @media (max-width:980px) {
            font-size: 14px;
        }
        @media (max-width:768px) {
            max-width: 200px;
        }
        @media (max-width:480px) {
            font-size: 16px;
            max-width: none;
        }
        @media (max-width:320px) {
            font-size: 14px;
        }
    }
    &__text {
        font-family: var(--OpenSans);
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.7);
        @media (max-width:980px) {
            font-size: 11px;
        }
        @media (max-width:480px) {
            font-size: 12px;
        }
    }
    &__statistic {
        display: flex;
        margin: 20px 0;
        @media (max-width:768px) {
            margin: 25px 0;
        }
        @media (max-width:480px) {
            margin: 20px 0;
        }
        @media (max-width:320px) {
            margin: 15px 0 30px;
        }
        p {
            width: 100%;
            display: flex;
            flex-direction: column;
            font-family: var(--OpenSans);
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: rgba(0, 0, 0, 0.7);
            @media (max-width:980px) {
                font-size: 11px;
            }
            @media (max-width:480px) {
                font-size: 12px;
            }
        }
        span {
            font-family: var(--Roboto);
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #000000;
            @media (max-width:980px) {
                font-size: 16px;
            }
            @media (max-width:480px) {
                font-size: 18px;
            }
        }
    }
    &__education {
        font-family: var(--OpenSans);
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #000000;
        @media (max-width:980px) {
            font-size: 11px;
        }
        @media (max-width:480px) {
            font-size: 12px;
        }
    }
    &__btn {
        margin-top: 30px;
        width: 189px;
        height: 38px;
        @media (max-width:980px) {
            width: 158.97px;
            height: 31.96px;
            margin-top: 20px;
        }
        @media (max-width:768px) {
            width: 100%;
            height: 40px;
            margin-top: 30px;
        }
        @media (max-width:480px) {
            display: none;
        }
    }
    &__img {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 285px;
        height: 418px;
        margin-top: 24px;
        @media (max-width:980px) {
            width: 239.72px;
            height: 351.59px;
            margin-top: 0;
        }
        @media (max-width:768px) {
            width: 266px;
            height: 391px;
            margin-top: -28px;
        }
        @media (max-width:480px) {
            margin-top: 0;
            margin: 0 auto;
            width: 228px;
            height: 334px;
        }
        @media (max-width:320px) {
            width: 204px;
            height: 300px;
        }
    }
}

//stock-card
.card-stock {
    position: relative;
    overflow: hidden;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;
    &__img {
        display: block;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        &:before {
            content: '';
            background: linear-gradient(0deg, #3AA1C4 10.64%, rgba(58, 161, 195, 0.4656) 29.92%, rgba(58, 161, 195, 0) 58.13%);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: 0.3s ease;
        }
    }
    &__title {
        font-family: var(--Geometria);
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        position: absolute;
        bottom: 15px;
        left: 20px;
        transition: 0.3s ease;
    }
    &__text-block {
        width: 100%;
        transition: 0.3s ease;
        height: 100%;
        overflow: hidden;
        padding: 33px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-family: var(--OpenSans);
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        padding: 34px 48px 0 20px;
        background-color: rgba(58, 161, 196, 0.8);
        transform: translateY(100%);
    }
    &:hover {
        .card-stock {
            &__text-block { 
                transform: translateY(0);
            }
            &__img {
                &:before {
                    opacity: 0;
                }
            }
            &__title {
                opacity: 0;
            }
        }
    }
}