.nav {
    ul {
        display: flex;
        justify-content: space-between;
    }
    &__elem {
        font-family: var(--OpenSans);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #000000;
        cursor: pointer;
        transition: 0.3s ease;
        margin: 0 25px;
        position: relative;
        &:hover {
            opacity: 0.8;
        }
        &_drop {
            &:before {
                content: '';
                position: absolute;
                background-image: url(../img/arrow-nav.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 9px;
                height: 4.5px;
                top: 50%;
                transform: translateY(-50%);
                right: -16px;
            }
        }
    }
}