//services
.owl-services {  
    &__slide {
        position: relative;
        width: 163.24px;
        height: 133.04px;
        @media (max-width:980px) {
            width: 137.29px;
            height: 111.9px;
        }
        @media (max-width:768px) {
            width: 208.15px;
            height: 169.64px;
        }
        @media (max-width:480px) {
            width: 205px;
            height: 167.08px;
        }
        @media (max-width:320px) {
            width: 135px;
            height: 130px;
        }
    }
    &__img {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 15px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 15px;
        }
    }
    &__title {
        font-family: var(--Geometria);
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        padding: 0 5px;
        @media (max-width:980px) {
            font-size: 11px;
        }
        @media (max-width:768px) {
            font-size: 16px;
        }
        @media (max-width:320px) {
            font-size: 14px;
        }
    }
    .owl-dots {
        position: absolute;
        top: -67px;
        left: 0;
        @media (max-width:980px) {
            top: -57px;
        }
        @media (max-width:768px) {
            top: -67px;
        }
        @media (max-width:480px) {
            top: -60px;
        }
        @media (max-width:320px) {
            top: -45px;
        }
    }
    .owl-dots .owl-dot span {
        border: 1px solid #000000;
        background-color: transparent;
    }
    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
        background-color: #000000;
    }
    .owl-nav {
        position: absolute;
        top: -70px;
        left: 100px;
        margin-top: 0;
        display: flex;
        align-items: center;
        @media (max-width:980px) {
            top: -62px;
        }
        @media (max-width:768px) {
            display: none;
        }
    }
    .owl-nav [class*=owl-]:hover {
        background: transparent;
    }
}

//specialists

.owl-specialists {
    flex: none;
    transform: rotate(90deg);
    position: absolute;
    max-width: 442px;
    right: 250px;
    top: 175px;
    @media (max-width:980px) {
        max-width: 371px; 
        right: 190px;
        top: 150px;
    }
    @media (max-width:768px) {
        position: relative;
        top: initial;
        right: initial;
        transform: rotate(0);
        margin: 45px 0;
        max-width: none;
    }
    @media (max-width:480px) {
        margin: 30px 0 40px;
    }
    @media (max-width:320px) {
        margin: 30px 0;
    }
    &__slide {
        transform: rotate(-90deg);
        width: 98px;
        height: 98px;
        @media (max-width:980px) {
            width: 82.43px;
            height: 82.43px;
        }
        @media (max-width:768px) {
            transform: rotate(0);
            width: 134px;
            height: 133px;
        }
        @media (max-width:480px) {
            width: 83px;
            height: 81px;
        }
        @media (max-width:320px) {
            width: 71.64px;
            height: 69.91px;
        }
        a {
            display: block;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        left:-5%;
        transform: translateY(-75%);
        width: 110%;
        display: flex;
        justify-content: space-between;
        @media (max-width:768px) {
            left:-3%;
            width: 103%;
        }
        @media (max-width:480px) {
            left: -5%;
            width: 106%;
        }
        @media (max-width:320px) {
            left: -7%;
            width: 109%;
        }
    }
    .owl-nav [class*=owl-]:hover {
        background: transparent;
    }
}

//result
.owl-result {
    padding-top: 40px;
    &__slide {
    }
    &__img {
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 187px;
        border-radius: 10px;
    }
    &__name {
        font-family: var(--OpenSans);
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #000000;
        margin: 12px 0 8px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        p {
            font-family: var(--Roboto);
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #000000;
        }
        span {
            font-weight: bold;
        }
    }
    .owl-nav {
        position: absolute;
        top: -24px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50px;
    }
    .owl-nav [class*=owl-]:hover {
        background: transparent;
    }
    .owl-dots {
        position: absolute;
        top: -10px;
        right: 100px;
    }
    .owl-dots .owl-dot span {
        border: 1px solid #000000;
        background-color: transparent;
    }
    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
        background-color: #000000;
    }
}

//reviews-slider
.owl-reviews {
    &__slide {
        padding: 25px 25px 31px;
        position: relative;
        background: #EBFAFF;
        border-radius: 15px;
    }
    &__text {
        font-family: var(--OpenSans);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: rgba(0, 0, 0, 0.7);
    }
    &__info {
        display: flex;
        align-items: center;
        margin-top: 20px;
        a {
            display: block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            margin-right: 20px;
        }
        h3 {
            font-family: var(--Geometria);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
    &__img {
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 185.16px;
        height: 134.84px;
        position: absolute;
        right: 34px;
        bottom: -37px;
    }
    .owl-stage-outer {
        padding-bottom: 30px;
    }
    .owl-nav {
        position: absolute;
        top: -65px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50px;
    }
    .owl-nav [class*=owl-]:hover {
        background: transparent;
    }
    .owl-dots {
        position: absolute;
        top: -50px;
        right: 100px;
    }
    .owl-dots .owl-dot span {
        border: 1px solid #000000;
        background-color: transparent;
    }
    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
        background-color: #000000;
    }
}