<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__bottom-block info-block__bottom-block_hir-imp">
                <div class="info-block__img" style="background-image: url(img/uslugi/detskaya-stomatologiya/1.jpg);">
                    
                </div>

                <div class="info-block__text">
                    <p>
                        Уделять внимание здоровью детских зубов нужно с момента их появления. Ведь эмаль молочных зубов слабая и пронизана микропорами, куда легко проникают бактерии.
                        <br><br>
                        Кариес у детей развивается стремительнее и агрессивнее, чем у взрослых вследствие недостаточной минерализации зубов, неудовлетворительной гигиены и избытка углеводов в рационе.
                        <br><br>
                        Специалисты рекомендуют прийти к врачу в первый раз сразу же после появления первых зубов, а потом посещать детского стоматолога каждые 4 месяца. Детский стоматолог наладит контакт с малышом и будет следить за его здоровьем, пока он не подрастет.
                        <br><br>
                        В стоматологии «Улыбка» детский стоматолог-терапевт принимает детей с момента прорезания самого первого зубика.
                        <br><br>
                    </p>
                    
                </div>
            </div>

            <div class="info-block__dop-text">
                <h4>
                    Первое посещение стоматолога
                </h4>

                <p>
                    Помните! РЕБЕНОК НЕ БОИТСЯ ЛЕЧИТЬ ЗУБЫ, когда идет к стоматологу в первый раз!
                    <br><br>
                    Он ещё ничего не знает о том, что его ожидает! В большинстве случаев боятся родители и другие родственники и передают свой страх ребенку.
                    <br><br>
                </p>

                <p>
                    <ul>
                        <li>Ни в коем случае НЕ говорите ребенку «НЕ БОЙСЯ» (раз так говорят, значит, чего-то надо бояться), «Тебе не будет больно» (сразу просыпается недоверие), «Это не страшно», «Врач только посмотрит» (потом все-таки что-то делают! Меня обманули).</li>
                        <li>Прививайте ребенку привычку регулярно посещать врача. Это позволит в будущем избежать многих проблем и заболеваний.</li>
                        <li>Записывайтесь на прием в те часы, когда ребенок активен. Он должен быть сыт и не утомлен.</li>
                        <li>Будьте рядом с ребенком во время приема врача, но ни в коем случае не мешайте стоматологу делать свою работу.</li>
                        <li>Не потакайте ребенку, не запугивайте, не угрожайте ему, не обещайте того, чего потом не сможете выполнить, ради согласия на поход к стоматологу.</li>
                    </ul>
                </p>

                <p>
                    <br><br>
                    Врачи клиники «Улыбка» имеют многолетний опыт лечения самых маленьких пациентов. И для нас самое важное – здоровье и хорошее настроение Вашего ребенка. Мы сделаем все, чтобы прием оставил только положительные впечатления.
                </p>
            </div>

        </div>
    </div>
</div>