<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__bottom-block info-block__bottom-block_hir-imp">
                <div class="info-block__img_hir-imp2">
                    <a style="background-image: url(img/uslugi/protezirovanie-zubov/1.jpg);"></a>
                    <a style="background-image: url(img/uslugi/protezirovanie-zubov/2.jpg);"></a>
                </div>

                <div class="info-block__text">
                    Протезирование – это реставрационная процедура, позволяющая решить проблему отсутствия одного или нескольких зубов, путем изготовления мостов, коронок или съемных конструкций. В ортопедии используются конструкции различных видов и технологий, а также из разных материалов. От вида и способа установки ортодонтического протеза будет зависеть и цена протезирования.
                    <br><br>
                    В клинике «Улыбка» применяются все основные типы протезирования: съемными, несъемными конструкциями, протезирование на имплантах.
                    <br><br>
                    Наши врачи применяют исключительно проверенные технологии и сертифицированные материалы, практикуя международные стандарты лечения, что позволяет добиться 100% результата.
                    <br><br>
                    Наши пациенты могут быть уверены в том, что новые зубы ничем не будут отличаться от естественных: ни по внешнему виду, ни функционально.
                    <br><br>
                    Изготовление зубных протезов для каждого пациента производится только под заказ в лучших зуботехнических лабораториях Краснодара, Москвы, Санкт-Петербурга и Екатеринбурга. Часть работ по изготовлению конструкций также производится за границей: в Италии, Германии и США. В каждом случае необходимо учесть пожелания и особенности пациента. А опыт и квалификация наших врачей подтверждены отзывами довольных пациентов.
                    <br><br>
                    <strong>Для качественной диагностики и создания моделей дизайн-проектов будущих ортопедических конструкций, планирования протезирования и имплантологии в стоматологии «Улыбка» используется 3D оборудование 3 Shape Trios. Такое оборудование является новейшей разработкой и позволяет проводить сканирование зубных рядов без боли и слепков.</strong>
                    <br><br>
                    Стоматология «Улыбка» — это клиника экспертного уровня в области ортопедии и имплантологии. Многие стоматологии г.Краснодара консультируются и сотрудничают с нами в этих областях.
                </div>
            </div>

        </div>
    </div>
</div>