<div class="diagnostic-pads">
    <div class="wrapper">
        <div class="diagnostic-pads__content">

            <div class="diagnostic-pads__pad pad active">
                <a class="pad__title active" data-target="#diagnostic-pad">Диагностика, документация</a>
                <div class="pad__content active" id="diagnostic-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Изоляция рабочего поля от влаги с использованием коффердама</p>
                        <span>530 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Изоляция рабочего поля от влаги с использованием Optra-gete</p>
                        <span>590 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Полное первичное обследование</p>
                        <span>2000 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Консилиум врачей</p>
                        <span>5000 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#obezbol-pad">Обезболивание</a>
                <div class="pad__content" id="obezbol-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#profilactic-pad">Профилактика</a>
                <div class="pad__content" id="profilactic-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#det-stom-pad">Детская стоматология</a>
                <div class="pad__content" id="det-stom-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>


            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#vost-plom-pad">Восстановление зуба пломбой</a>
                <div class="pad__content" id="vost-plom-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#endoscop-pad">Эндодонтическое лечение</a>
                <div class="pad__content" id="endoscop-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>


            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#profilactic2-pad">Профилактика</a>
                <div class="pad__content" id="profilactic2-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#obezbol2-pad">Обезболивание</a>
                <div class="pad__content" id="obezbol2-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#hir-stom-pad">Хирургическая стоматология</a>
                <div class="pad__content" id="hir-stom-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#ort-stom-pad">Ортопедическая стоматология</a>
                <div class="pad__content" id="ort-stom-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#ortodon-stom-pad">Ортодонтическая стоматология</a>
                <div class="pad__content" id="ortodon-stom-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

            <div class="diagnostic-pads__pad pad">
                <a class="pad__title" data-target="#gnotolog-pad">Гнатология</a>
                <div class="pad__content" id="gnotolog-pad">

                    <div class="pad__elem">
                        <p>Диагностика, документация</p>
                        <span>370 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Назначение лекарственных препаратов при заболеваниях полости рта и зубов</p>
                        <span>0 руб.</span>
                    </div>

                    <div class="pad__elem">
                        <p>Прием (осмотр, консультация) врача-стоматолога</p>
                        <span>500 руб.</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>