<div class="info-block info-block_one">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__top-block info-block__top-block_one">
                <div class="info-block__img info-block__img_video" style="background-image: url(img/uslugi/diagnostika-sostoyaniya-zubov/1.jpg);">

                </div>
                <div class="info-block__text info-block__text_left">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam nisl sit amet scelerisque efficitur. Aenean rhoncus efficitur metus, quis cursus felis mattis at. Mauris imperdiet arcu lectus, vitae finibus tortor facilisis vitae. Pellentesque a quam velit. Donec eu felis consectetur, laoreet neque sit amet, gravida nisl. Aenean mollis tortor a lacus fringilla tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <br><br>
                        Nullam bibendum rhoncus ex, eu dignissim sapien condimentum eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sollicitudin quam in mi volutpat malesuada. Aenean quis tempor felis.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>