.map-contacts {
    position: relative;
    height: 500px;
    margin-bottom: 100px;
    @media (max-width:980px) {
        height: 400px;
        margin-bottom: 120px;
    }
    @media (max-width:768px) {
        margin-bottom: 100px;
    }
    @media (max-width:480px) {
        margin-bottom: 255px;
    }
    @media (max-width:320px) {
        height: 300px;
        margin-bottom: 225px;
    }
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &__content {
        position: relative;
        height: 500px;
        @media (max-width:980px) {
            height: 400px;
        }
        @media (max-width:320px) {
            height: 300px;
        }
    }
    &__locate {
        position: absolute;
        top: 45px;
        left: 0;
        background: rgba(235, 250, 255, 0.4);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(20px);
        border-radius: 15px;
        padding: 25px;
        @media (max-width:980px) {
            top: 30px;
        }
        @media (max-width:768px) {
            padding: 19px 25px;
        }
        @media (max-width:480px) {
            width: 100%;
            top: initial;
            bottom: -45px;
            padding: 23px 25px;
        }
        @media (max-width:320px) {
            padding: 15px 20px;
        }
        h3 {
            font-family: var(--Geometria);
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 5px;
            @media (max-width:768px) {
                font-size: 16px;
            }
        }
        p {
            font-family: var(--OpenSans);
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: #000000;
            @media (max-width:768px) {
                font-size: 12px;
            }
        }
    }
    &__btn {
        position: absolute;
        bottom: 45px;
        left: 0;
        background: rgba(235, 250, 255, 0.4);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(20px);
        border-radius: 15px;
        padding: 30px;
        @media (max-width:980px) {
            bottom: 30px;
        }
        @media (max-width:480px) {
            bottom: -175px;
            width: 100%;
        }
        @media (max-width:320px) {
            bottom: -145px;
            padding: 20px;
        }
        .btn {
            width: 227px;
            height: 40px;
            @media (max-width:480px) {
                width: 100%;
            }
            @media (max-width:320px) {
            
            }
        }
    }
}