<div class="about-content">
    <div class="wrapper">
        <div class="about-content__content">

            <div class="about-content__video">
                <a style="background-image: url(img/about/video.jpg);"></a>
            </div>

            <div class="about-content__info">
                <div class="about-content__info-text">
                    <h3>С улыбкой по жизни. Философия стоматологической клиники «Улыбка»</h3>
                    <p>Здоровье – это, пожалуй, единственная сфера жизни, в которой никто не хочет экспериментов. Этих экспериментов не хотим и мы – персонал стоматологической клиники «Улыбка». Нам важно, чтобы клиенты нам доверяли и для этого у нас есть свои правила, которые составляют основу нашей философии. </p>
                </div>
                <div class="about-content__info-img">
                    <a style="background-image: url(img/about/img.jpg);"></a>
                </div>
            </div>

            <div class="about-content__list">
                <ul>
                    <li>Делай как себе. Мы встречаем пациентов, общаемся с ними и лечим их так же, как если бы перед нами были наши родные и близкие.</li>
                    <li>Делай без боли. Мы используем все возможные медицинские средства и оборудование, которые есть на сегодняшний день, чтобы визит к стоматологу был комфортным и не вызывал страха.</li>
                    <li>Делай с умом. Мы работаем по мировым стандартам: все манипуляции, которые совершаются в нашей клинике, проводятся по международным протоколам оказания стоматологической помощи, разработанными в ведущих университетах США, Израиля и Европы.</li>
                    <li>Делай финансово прозрачно. Для каждого пациента разрабатывается личный финансовый план, где указано, сколько будет стоить каждая манипуляция и сразу видно, во что обойдется весь курс лечения. </li>
                    <li>Делай с улыбкой. Доброжелательное отношение и высокий уровень сервиса – это первое, с чем сталкиваются наши пациенты, когда переступают порог нашей клиники. Мы ценим ваше время и строго следим за началом и окончанием приема.</li>
                </ul>
                <p>Мы искренне радуемся за каждого пациента, который, выходя от нас, может, не стесняясь, широко улыбаться! Ваша улыбка – наша гордость!</p>
            </div>

            <p class="about-content__signature">
                Коллектив стоматологической клиники «Улыбка»
            </p>

        </div>
    </div>
</div>