<div class="inspection-form inspection-form_main inspection-form_write-doctor">
    <div class="wrapper">
        <div class="inspection-form__content">
            <form action="" class="inspection-form__form">
                <div class="inspection-form__inputs">
                    <input type="name" placeholder="Введите свое имя" required>
                    <input id="phone" type="tel" placeholder="Номер Телефона" required>
                    <input type="text" placeholder="Введите свой e-mail" required>
                </div>
                <div class="inspection-form__info">
                    <textarea placeholder="Введите сообщение"></textarea>
                    <div class="inspection-form__text-block">
                        <p>Иванов Дмитрий Александрович проводит приём граждан по средам с 12.00 до 14.00 по предварительной записи.</p>
                        <p>Запись по телефону телефон: <a href="tel:+79882454343">8-988-245-43-43</a></p>
                        <p>Электронная почта: <a href="mailto:ooosmile_23@mail.ru">ooosmile_23@mail.ru</a></p>
                    </div>
                </div>
                <div class="inspection-form__button">
                    <p>- При введения данных вы даете согласие на обработку данных</p>
                    <button class="btn btn_orange-grad" type="submit">Заказать осмотр</button>
                </div>
            </form>
        </div>
    </div>
</div>