<div class="write-doctor-info">
    <div class="wrapper">
        <div class="write-doctor-info__content">

            <div class="write-doctor-info__text">
                <h3 class="write-doctor-info__title">
                    Доктор Иванов Дмитрий Александрович, врач и основатель стоматологической клиники «Улыбка».
                </h3>
                <div class="write-doctor-info__info-form">
                    Вы можете написать мне через форму ниже. Жалобы, конструктивная критика, пожелания приветствуются.
                </div>
                <div class="write-doctor-info__info">
                    Пожалуйста, примите во внимание, что Дмитрий Александрович ежедневно ведет прием пациентов, и Ваш вопрос какое-то время может оставаться без ответа.
                </div>
            </div>

            <div class="write-doctor-info__img">
                <a style="background-image: url(img/write-doctor/1.jpg);"></a>
            </div>

        </div>
    </div>
</div>