<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__dop-text">
                <h4>Цены на седацию и наркоз в нашей стоматологии:</h4>
                <ul>
                    <li>Седация — 1000 руб/час (с оплатой по 15 минут);</li>
                    <li>Наркоз первый час — 6000 рублей, второй и последующие — 5000 руб/час;</li>
                    <li>Консультация анестезиолога — 1000 рублей, если остаетесь на лечение в нашей клинике — бесплатно.</li>
                </ul>
                <p><br></p>
            </div>

            <div class="info-block__bottom-block info-block__bottom-block_hir-imp">
                <div class="info-block__img" style="background-image: url(img/uslugi/sedaciya/1.jpg);">
                    
                </div>

                <div class="info-block__text info-block__text_left">
                    <p>
                        Лечение во сне, как сейчас называют лечение под наркозом, — одно из направлений, доступное только в ограниченном количестве клиник. Почему? Во-первых, для этого необходима лицензия на проведение наркоза или седации. Также необходим штат специализированных врачей, профиль работы которых — анестезиология и реаниматология. Первичный осмотр пациента проводит не только врач-стоматолог, но и врач-анестезиолог. А сам наркоз пациенту — ребенку или взрослому — выполняет врач-анестезиолог не в обычном стоматологическом кабинете, а в технически оснащенной операционной комнате.
                        <br><br>
                    </p>
                    
                </div>
            </div>

            <div class="info-block__dop-text">
                <h4>
                    Сегодня в стоматологии применяется два вида наркоза:
                </h4>

                <p>
                    <ul>
                        <li>общий или глубокий сон,</li>
                        <li>седация.</li>
                    </ul>
                </p>

                <p>
                    <br><br>
                    При общем наркозе пациент погружается в сон от 15 минут до несколько часов, а седация погружает в неглубокий сон без блокировки рефлексов, при этом уровень тревожности не просто уменьшается, а полностью отсутствует.
                    <br><br>
                    Процедура проходит абсолютно безболезненно, а у пациента появляется возможность за один прием пройти сразу несколько сложных стоматологических процедур: вылечить беспокоящие зубы, провести удаление или имплантацию.
                    <br><br>
                    Основным препаратом, применяемым для седации/наркоза является Севоран (ABBOT Laboratories США), международно признанный и успешно применяемый в самых разнообразных лечебных направлениях. Он активно используется в современной медицинской практике для выполнения ингаляционного наркоза, в том числе при работе с детьми. На сегодняшний день Севоран считается самым безопасным и безвредным препаратом для проведения наркоза. Пациент засыпает буквально после первого вдоха и легко просыпается. К побочным эффектам Севорана можно отнести головокружение после пробуждения, сохраняющееся около 30 минут.
                </p>
            </div>

        </div>
    </div>
</div>