<div class="map map_img">
    <div class="wrapper">
        <div class="map__content">
            <a class="map__img" style="background-image: url(../img/contacts/img.jpg);"></a>
            <div class="map__form-block">
                <h2 class="title title_small">Обратная связь</h2>
                <form action="" class="map__form">
                    <input type="name" placeholder="Введите свое имя" required>
                    <input id="phone1" type="tel" placeholder="Номер Телефона" required>
                    <input type="text" placeholder="Введите свой e-mail" required>
                    <button class="btn btn_orange-grad" type="submit">Отправить</button>
                    <textarea name="" id="" placeholder="Введите сообщение"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>