<div class="uslugi-grid">
    <div class="wrapper">
        <div class="uslugi-grid__content">

            <div class="uslugi-grid__top-grid">

                <div class="uslugi-grid__top-elem card-uslugi-top">
                    <a class="card-uslugi-top__img" style="background-image: url(img/uslugi/grid/top/1.jpg);"></a>
                    <h3 class="card-uslugi-top__title">Детская стоматология</h3>
                </div>

                <div class="uslugi-grid__top-elem card-uslugi-top">
                    <a class="card-uslugi-top__img" style="background-image: url(img/uslugi/grid/top/2.jpg);"></a>
                    <h3 class="card-uslugi-top__title">Лечение во сне (седация)</h3>
                </div>

                <div class="uslugi-grid__top-elem card-uslugi-top">
                    <a class="card-uslugi-top__img" style="background-image: url(img/uslugi/grid/top/3.jpg);"></a>
                    <h3 class="card-uslugi-top__title">Протезирование зубов (ортопедия)</h3>
                </div>

                <div class="uslugi-grid__top-elem card-uslugi-top">
                    <a class="card-uslugi-top__img" style="background-image: url(img/uslugi/grid/top/4.jpg);"></a>
                    <h3 class="card-uslugi-top__title">Ортодонтия</h3>
                </div>

            </div>

            <div id="uslugi-grid-block" class="uslugi-grid__bottom-grid">

                <div class="uslugi-grid__bottom-elem card-uslugi-bottom">
                    <a class="card-uslugi-bottom__img" style="background-image: url(img/uslugi/grid/bottom/1.png);"></a>
                    <h3 class="card-uslugi-bottom__title">Диагностика</h3>
                </div>

                <div class="uslugi-grid__bottom-elem card-uslugi-bottom">
                    <a class="card-uslugi-bottom__img" style="background-image: url(img/uslugi/grid/bottom/2.png);"></a>
                    <h3 class="card-uslugi-bottom__title">Терапевтическая стоматология</h3>
                </div>

                <div class="uslugi-grid__bottom-elem card-uslugi-bottom">
                    <a class="card-uslugi-bottom__img" style="background-image: url(img/uslugi/grid/bottom/3.png);"></a>
                    <h3 class="card-uslugi-bottom__title">Хирургия и имплантация зубов</h3>
                </div>

                <div class="uslugi-grid__bottom-elem card-uslugi-bottom">
                    <a class="card-uslugi-bottom__img" style="background-image: url(img/uslugi/grid/bottom/4.png);"></a>
                    <h3 class="card-uslugi-bottom__title">Эстетическая стоматология</h3>
                </div>

                <div class="uslugi-grid__bottom-elem card-uslugi-bottom">
                    <a class="card-uslugi-bottom__img" style="background-image: url(img/uslugi/grid/bottom/5.png);"></a>
                    <h3 class="card-uslugi-bottom__title">Пародонтология</h3>
                </div>

                <div class="uslugi-grid__bottom-elem card-uslugi-bottom">
                    <a class="card-uslugi-bottom__img" style="background-image: url(img/uslugi/grid/bottom/6.png);"></a>
                    <h3 class="card-uslugi-bottom__title">Компьютерная томография зубов</h3>
                </div>

                <div class="uslugi-grid__bottom-elem card-uslugi-bottom">
                    <a class="card-uslugi-bottom__img" style="background-image: url(img/uslugi/grid/bottom/7.png);"></a>
                    <h3 class="card-uslugi-bottom__title">Удаление зубов</h3>
                </div>

                <div class="uslugi-grid__bottom-elem card-uslugi-bottom">
                    <a class="card-uslugi-bottom__img" style="background-image: url(img/uslugi/grid/bottom/8.png);"></a>
                    <h3 class="card-uslugi-bottom__title">Лечение височно-нижнечелюстного сустава</h3>
                </div>

            </div>

            <div class="uslugi-grid__btn">
                <a class="btn btn_orange" data-target="#uslugi-grid-block">Все услуги</a>
            </div>

        </div>
    </div>
</div>