<footer class="footer">
	<div class="wrapper">
		<div class="footer__content">
			<nav class="footer__nav">
				<a href="" class="footer__nav-elem active">ГЛАВНАЯ</a>
				<a href="" class="footer__nav-elem">УСЛУГИ</a>
				<a href="" class="footer__nav-elem">ПАЦИЕНТАМ</a>
				<a href="prices.html" class="footer__nav-elem">ЦЕНЫ</a>
				<a href="video-clients.html" class="footer__nav-elem">ОТЗЫВЫ</a>
				<a href="" class="footer__nav-elem">О НАС</a>
				<a href="" class="footer__nav-elem">КОНТАКТЫ</a>
			</nav>

			<div class="footer__middle">
				<div class="footer__logo">
					<a href="/" class="logo logo-big"></a>
				</div>
				<div class="footer__contacts">
					<h2 class="footer__title">Контакты</h2>
					<div class="footer__numbers">
						<a href="tel:+79882454343">8-988-245-43-43</a>
						<a href="tel:+78612454343"> 8(861) 245-43-43</a>
					</div>
					<div class="footer__loc">
						<p>ул. проспект Чекистов 28/1 (гор. Краснодар, ЮМР)</p>
					</div>
					<div class="footer__graf">
						<p><span>График работы:</span> Пн-Пт: 9:00-20:00; Сб, Вс: 9:00-18:00</p>
					</div>
				</div>
				<div class="footer__soc">
					<h2 class="footer__title">Соцсети</h2>
					<div class="soc">
						<a href="" class="soc__elem soc__inst"></a>
						<a href="" class="soc__elem soc__you"></a>
						<a href="" class="soc__elem soc__vk"></a>
						<a href="" class="soc__elem soc__face"></a>
					</div>
					<div class="footer__btn">
						<a data-fancybox data-src="#popup-cons" class="btn btn_orange btn_orange-shadow">Заказать звонок</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="footer__bottom">
		<p>Все права защищены © Семейная Стоматология Улыбка</p>
	</div>
</footer>
