<header class="header">
	<div class="wrapper">
		<div class="header__content">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<div class="header__nav">
				<nav class="nav">
					<ul>
						<li>
							<a class="nav__elem nav__elem_drop" href="">Услуги</a>
						</li>
						<li>
							<a class="nav__elem nav__elem_drop" href="">Пациентам</a>
						</li>
						<li>
							<a class="nav__elem" href="">Отзывы</a>
						</li>
						<li>
							<a class="nav__elem" href="">О нас</a>
						</li>
						<li>
							<a class="nav__elem" href="">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="header__number">
				<a href="tel:+79882454343" class="number">+7 (988) 245-43-43</a>
			</div>

			<div class="header__btn">
				<a class="btn btn_orange-grad">Записаться онлайн</a>
			</div>

		</div>
	</div>
</header>
