<header class="header">
	<div class="wrapper">
		<div class="header__content">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<div class="header__nav">
				<nav class="nav">
					<ul>
						<li>
							<a href="uslugi.html" class="nav__elem nav__elem_drop" data-target="#uslugi">Услуги</a>
						</li>
						<!-- nav-drop -->
						<div class="nav__drop" id="uslugi">
							<div class="nav__drop-btn">
								<a href="prices.html" class="btn btn_orange">Цены</a>
							</div>
							<div class="nav__drop-content">
								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="diagnostika-sostoyaniya-zubov.html">Диагностика состояния зубов</a>
									<a class="nav__drop-link_child" href="">Диагностика и комплексное обследование зубов</a>
									<a class="nav__drop-link_child" href="">Врачебный консилиум</a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="terapevticheskaya-stomatologiya.html">Терапевтическая стоматология</a>
									<a class="nav__drop-link_child" href="">Лечение кариеса и пульпита</a>
									<a class="nav__drop-link_child" href="">Лечение корневых каналов зубов</a>
									<a class="nav__drop-link_child" href="">Лечение зубов под микроскопом</a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="esteticheskaya-stomatologiya.html">Эстетическая стоматология</a>
									<a class="nav__drop-link_child" href="">Профессиональная гигиена полости рта</a>
									<a class="nav__drop-link_child" href="">Отбеливание зубов Zoom 4</a>
									<a class="nav__drop-link_child" href="">Установка виниров</a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="">Хирургия и имплантация зубов</a>
									<a class="nav__drop-link_child" href="">Имплантация зубов</a>
									<a class="nav__drop-link_child" href="">Костная пластика любой сложности</a>
									<a class="nav__drop-link_child" href="">Пластика уздечки языка</a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="">Протезирование зубов (ортопедия)</a>
									<a class="nav__drop-link_child" href="">Диагностика и комплексное обследование зубов</a>
									<a class="nav__drop-link_child" href="">Врачебный консилиум</a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="">Ортодонтия</a>
									<a class="nav__drop-link_child" href="">Установка брекетов</a>
									<a class="nav__drop-link_child" href="">Выравнивание зубов без брекетов</a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="">Удаление зубов</a>
									<a class="nav__drop-link_child" href="">Удаление зубов мудрости</a>
									<a class="nav__drop-link_child" href="">Удаление молочных зубов</a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-img" style="background-image: url(img/drop-img.svg);"></a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="">Пародонтология (лечение десен)</a>
									<a class="nav__drop-link_child" href="">Лечение гингивита</a>
									<a class="nav__drop-link_child" href="">Лечение пародонтита</a>
								</div>

								<div class="nav__drop-elem">
									<a class="nav__drop-link" href="">Детская стоматология</a>
									<a class="nav__drop-link_child" href="">Лечение и профилактика кариеса у детей</a>
									<a class="nav__drop-link_child" href="">Исправление прикуса у детей</a>
									<a class="nav__drop-link_child" href="">Удаление молочных зубов</a>
								</div>

								<div class="nav__drop-elem_double">

									<div class="nav__drop-elem nav__drop-elem_fav">
										<a class="nav__drop-link" href="">Седация (Лечение во сне)</a>
									</div>

									<div class="nav__drop-elem">
										<a class="nav__drop-link" href="">Компьютерная томография зубов</a>
									</div>

								</div>

								<div class="nav__drop-elem_double">

									<div class="nav__drop-elem">
										<a class="nav__drop-link" href="">Лечение остеопата</a>
									</div>

									<div class="nav__drop-elem">
										<a class="nav__drop-link" href="">Лечение височно-нижечелюстного сустава</a>
									</div>

								</div>

							</div>
						</div>
						<!-- nav-drop-end -->
						<li>
							<a class="nav__elem nav__elem_drop" href="patients.html">Пациентам</a>
						</li>
						<li>
							<a class="nav__elem" href="">Отзывы</a>
						</li>
						<li>
							<a class="nav__elem" href="about.html">О нас</a>
						</li>
						<li>
							<a class="nav__elem" href="contacts.html">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="header__number">
				<a href="tel:+79882454343" class="number">+7 (988) 245-43-43</a>
			</div>

			<div class="header__btn">
				<a data-fancybox data-src="#popup-write" class="btn btn_orange-grad">Записаться онлайн</a>
			</div>
			
			<div class="header__burger">
				<a class="burger"></a>
			</div>

		</div>
	</div>
</header>
