<div class="popup popup-cons" id="popup-cons" style="display:none;">
    <div class="popup-cons__content">
        <h2 class="popup__title">Заказать консультацию</h2>
        <form action="" class="popup__form">
            <input type="name" placeholder="Введите свое имя" required>
            <input id="phone2" type="tel" placeholder="Номер Телефона" required>
            <p class="popup__agree">- При введения данных вы даете согласие на обработку данных</p>
            <button class="popup__btn btn btn_orange" type="submit">Отправить</button>
        </form>
    </div>
</div>

<div class="popup popup-write" id="popup-write" style="display:none;">
    <div class="popup-write__content">
        <h2 class="popup__title">Записаться онлайн</h2>
        <form action="" class="popup__form">
            <input type="name" placeholder="Введите свое имя" required>
            <input id="phone3" type="tel" placeholder="Номер Телефона" required>
            <input type="text" placeholder="Введите свой e-mail" required>
            <textarea name="" id="" placeholder="Введите сообщение"></textarea>
            <p class="popup__agree">- При введения данных вы даете согласие на обработку данных</p>
            <button class="popup__btn btn btn_orange" type="submit">Отправить</button>
        </form>
    </div>
</div>