<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__top-block">
                <div class="info-block__img info-block__img_hir-imp" style="background-image: url(img/uslugi/hirurgiya-i-implantaciya/1.jpg);">

                </div>
                <div class="info-block__text">
                    <p>
                        Стоматология как наука состоит из двух больших направлений – терапевтического, ортопедического, ортодонтического и хирургического лечения зубов.
                        <br><br>
                    </p>
                    <h4>Благодаря хирургии проводятся:</h4>
                    <ul>
                        <li>Операции по сохранению поврежденных участков зубного ряда;</li>
                        <li>подготовительные процедуры перед ортодонтическим лечением;</li>
                        <li>удаление зубов и их корней;</li>
                        <li>манипуляции по подготовке к протезированию;</li>
                        <li>имплантация зубов.</li>
                    </ul>
                    <p>
                        <br><br>
                        Все эти услуги представлены в стоматологии «Улыбка». Для решения проблем пациентов необходимы знания о всех современных методах стоматологической хирургии, применение высокотехнологического оборудования и материалов, а также – квалифицированные и опытные врачи.
                    </p>
                </div>
            </div>

            <div class="info-block__bottom-block info-block__bottom-block_hir-imp">
                <div class="info-block__img_hir-imp2">
                    <a style="background-image: url(img/uslugi/hirurgiya-i-implantaciya/2.jpg);"></a>
                    <a style="background-image: url(img/uslugi/hirurgiya-i-implantaciya/3.jpg);"></a>
                </div>

                <div class="info-block__text info-block__text_left">
                    Имплантация позволяет вернуть пациенту красоту и здоровье, уверенность в себе. В стоматологии «Улыбка» применяется 8 импланталогических систем: ASTRA TECH (Швеция), Osstem (Корея), XiVe (Германия), SIC (Швейцария), ROOT (Швейцария), IMPLANTIUM (Корея), 3i (Америка), Friadent (Германия). Причем только высокого и очень высокого качества.
                    <br><br>
                    80% наших пациентов приходят в «Улыбку» по рекомендации. И мы не можем себе позволить экономить на здоровье пациентов.
                    <br><br>
                    В нашей стоматологии можно поставить как единичные импланты, так и провести тотальную реабилитацию и полное восстановление зубного ряда.
                    <br><br>
                    Причем она носит не только эстетический характер. Если вовремя не провести эту процедуру, отсутствие зуба увеличит нагрузку на рядом расположенные части зубного ряда. Это приводит к быстрой порче соседних зубов и возможна их полная потеря.
                    <br><br>
                    Поскольку имплантация – процедура не одного дня, а иногда длится год и больше, особое внимание уделяется временной реставрации. Это позволяет пациенту не оставаться без зубов на период между процедурами и комфортно чувствовать себя на работе и в личной жизни.
                    <br><br>
                    Хирурги-имплантологи нашей клиники используют передовые технологии и качественные материалы, что минимизирует возникновение осложнений после операций.
                    <br><br>
                    Стоматология «Улыбка» — это клиника экспертного уровня в области имплантологии. Многие стоматологии г.Краснодара консультируются и сотрудничают с нами в области имплантации.
                </div>
            </div>

        </div>
    </div>
</div>