<div class="about">
    <div class="wrapper">
        <div class="about__content">

            <div class="about__info">
                <h2 class="title title_small title_big">О стоматологии "Улыбка"</h2>
                <p class="about__text">
                    Nunc leo quam, condimentum quis magna condimentum, vestibulum facilisis tellus. Suspendisse pharetra convallis dictum. Vestibulum vehicula egestas molestie. Quisque vestibulum orci vel purus faucibus condimentum. Proin faucibus et arcu a lobortis.
                    <br><br>
                    Vestibulum quis sodales leo. Quisque et purus nibh. Suspendisse bibendum ipsum quis sollicitudin pulvinar. Donec ac ex congue, ultricies sapien ut, pulvinar ipsum. Donec rutrum posuere faucibus. Phasellus rutrum, lacus a condimentum feugiat, risus dolor sodales risus, vel posuere mi arcu non ante. Duis condimentum sapien nisl, sit amet rutrum enim auctor in. 
                </p>
                <div class="about__btn">
                    <a class="btn btn_orange btn_orange-shadow">Узнать больше</a>
                </div>
            </div>

            <div class="about__video">
                <a style="background-image: url(img/main/about/video.png);"></a>
            </div>

        </div>
    </div>
</div>