<div class="inspection-form">
    <div class="wrapper">
        <div class="inspection-form__content">
            <h2 class="title title_small">Сделать предварительный осмотр у врача</h2>
            <form action="" class="inspection-form__form">
                <input type="name" placeholder="Введите свое имя" required>
                <input id="phone" type="tel" placeholder="Номер Телефона" required>
                <input type="text" placeholder="Введите свой e-mail" required>
                <button class="btn btn_orange-grad" type="submit">Заказать осмотр</button>
            </form>
            <p class="inspection-form__agree">- При введения данных вы даете согласие на обработку данных</p>
        </div>
    </div>
</div>