<div class="map">
    <div class="wrapper">
        <div class="map__content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2819.6931396939385!2d38.90662732846804!3d45.031154393954246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f04ee74a5ec7c9%3A0x5621760348e53e02!2z0L_RgC4g0KfQtdC60LjRgdGC0L7QsiwgMjgg0LrQvtGA0L_Rg9GBIDEsINCa0YDQsNGB0L3QvtC00LDRgCwg0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0LrRgNCw0LksIDM1MDA4OQ!5e0!3m2!1sru!2sru!4v1645362684319!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="map__form-block">
                <h2 class="title title_small">Обратная связь</h2>
                <form action="" class="map__form">
                    <input type="name" placeholder="Введите свое имя" required>
                    <input id="phone1" type="tel" placeholder="Номер Телефона" required>
                    <input type="text" placeholder="Введите свой e-mail" required>
                    <button class="btn btn_orange-grad" type="submit">Отправить</button>
                    <textarea name="" id="" placeholder="Введите сообщение"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>