<div class="numbers-or-clinic">
    <div class="wrapper">
        <div class="numbers-or-clinic__content">
            <h2 class="title title_small">Цифры о клинике</h2>
            <div class="numbers-or-clinic__grid">

                <div class="numbers-or-clinic__elem">
                    <p><span>7</span> лет работы</p>
                </div>
                
                <div class="numbers-or-clinic__elem">
                    <p><span>25</span> сотрудников в клинике</p>
                </div>

                <div class="numbers-or-clinic__elem">
                    <p><span>5000</span> семей пролечили</p>
                </div>

                <div class="numbers-or-clinic__elem">
                    <p><span>150</span> грамот и сертификатов</p>
                </div>

                <div class="numbers-or-clinic__elem">
                    <p><span>2</span> выходных за последний год</p>
                </div>

                <div class="numbers-or-clinic__elem">
                    <p><span>12000</span> пар бахил в год</p>
                </div>

            </div>
        </div>
    </div>
</div>