<div class="reviews-slider">
    <div class="wrapper">
        <div class="reviews-slider__content">
            <h2 class="title title_slider">Отзывы наших клиентов о нас</h2>
            <div class="reviews-slider__slider">

                <div class="owl-reviews owl-carousel owl-theme">

                    <div class="owl-reviews__slide">
                        <p class="owl-reviews__text">
                            - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id massa sed enim mattis iaculis. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Sed venenatis magna ac sapien blandit consequat.
                        </p>
                        <div class="owl-reviews__info">
                            <a style="background-image: url(img/main/reviews-slider/1.png);"></a>
                            <h3>Имя клиента</h3>
                        </div>
                        <a class="owl-reviews__img" style="background-image: url(img/main/reviews-slider/1-result.png);"></a>
                    </div>

                    <div class="owl-reviews__slide">
                        <p class="owl-reviews__text">
                            - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id massa sed enim mattis iaculis. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Sed venenatis magna ac sapien blandit consequat.
                        </p>
                        <div class="owl-reviews__info">
                            <a style="background-image: url(img/main/reviews-slider/1.png);"></a>
                            <h3>Имя клиента</h3>
                        </div>
                        <a class="owl-reviews__img" style="background-image: url(img/main/reviews-slider/1-result.png);"></a>
                    </div>


                    <div class="owl-reviews__slide">
                        <p class="owl-reviews__text">
                            - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id massa sed enim mattis iaculis. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Sed venenatis magna ac sapien blandit consequat.
                        </p>
                        <div class="owl-reviews__info">
                            <a style="background-image: url(img/main/reviews-slider/1.png);"></a>
                            <h3>Имя клиента</h3>
                        </div>
                        <a class="owl-reviews__img" style="background-image: url(img/main/reviews-slider/1-result.png);"></a>
                    </div>


                    <div class="owl-reviews__slide">
                        <p class="owl-reviews__text">
                            - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id massa sed enim mattis iaculis. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Sed venenatis magna ac sapien blandit consequat.
                        </p>
                        <div class="owl-reviews__info">
                            <a style="background-image: url(img/main/reviews-slider/1.png);"></a>
                            <h3>Имя клиента</h3>
                        </div>
                        <a class="owl-reviews__img" style="background-image: url(img/main/reviews-slider/1-result.png);"></a>
                    </div>

                </div>

            </div>
            <div class="reviews-slider__btn">
                <a class="btn btn_orange btn_orange-shadow">Оставить отзыв</a>
            </div>
        </div>
    </div>
</div>