<div class="services">
    <div class="wrapper">
        <div class="services__content">

            <div class="services__info">
                <h2 class="title title_small">Наши услуги</h2>
                <p class="services__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id massa sed enim mattis iaculis. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Sed venenatis magna ac sapien blandit consequat. Cras suscipit rhoncus erat. Phasellus et dignissim eros.
                </p>
            </div>

            <div class="services__slider">

                <div class="owl-services owl-carousel owl-theme">

                    <div class="owl-services__slide">
                        <a class="owl-services__img" style="background-image: url(img/main/services/1.png);"></a>
                        <h3 class="owl-services__title">Диагностика</h3>
                    </div>

                    <div class="owl-services__slide">
                        <a class="owl-services__img" style="background-image: url(img/main/services/2.png);"></a>
                        <h3 class="owl-services__title">Терапевтическая стоматология</h3>
                    </div>

                    <div class="owl-services__slide">
                        <a class="owl-services__img" style="background-image: url(img/main/services/3.png);"></a>
                        <h3 class="owl-services__title">Хирургия и имплантация зубов</h3>
                    </div>

                    <div class="owl-services__slide">
                        <a class="owl-services__img" style="background-image: url(img/main/services/1.png);"></a>
                        <h3 class="owl-services__title">Диагностика</h3>
                    </div>

                    <div class="owl-services__slide">
                        <a class="owl-services__img" style="background-image: url(img/main/services/2.png);"></a>
                        <h3 class="owl-services__title">Терапевтическая стоматология</h3>
                    </div>

                    <div class="owl-services__slide">
                        <a class="owl-services__img" style="background-image: url(img/main/services/3.png);"></a>
                        <h3 class="owl-services__title">Хирургия и имплантация зубов</h3>
                    </div>

                </div>

                <div class="services__btn">
                    <a class="btn btn_orange btn_orange-shadow">Все услуги</a>
                </div>

            </div>

        </div>
    </div>
</div>