<div class="services">
    <div class="wrapper">
        <div class="services__content">

            <div class="services__info">
                <h2 class="title title_small">Наши услуги</h2>
                <p class="services__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id massa sed enim mattis iaculis. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Sed venenatis magna ac sapien blandit consequat. Cras suscipit rhoncus erat. Phasellus et dignissim eros.
                </p>
            </div>

            <div class="services__slider">

                <div class="owl-services">

                    <div class="owl-services__slide">

                    </div>

                    <div class="owl-services__slide">

                    </div>

                    <div class="owl-services__slide">

                    </div>

                    <div class="owl-services__slide">

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>