<div class="stock">
    <div class="wrapper">
        <div class="stock__content">
            <h2 class="title">Наши акции</h2>
            <div class="stock__grid">

                <div class="stock__card card-stock">
                    <a class="card-stock__img" style="background-image: url(img/main/stock/1.png);"></a>
                    <p class="card-stock__title">
                        Здоровая семья - бонус 5%
                    </p>
                    <p class="card-stock__text-block">
                        Предложение действует до 1 июля.
                        <br> <br>
                        Всем нашим пациентам, решившим установить 3 или более импланта, мы предоставим бесплатно услуги по седации (лечение во сне) на всё время вмешательства при условии соответствующих показаний.
                    </p>
                </div>

                <div class="stock__card card-stock">
                    <a class="card-stock__img" style="background-image: url(img/main/stock/2.png);"></a>
                    <p class="card-stock__title">
                        Здоровая семья - бонус 5%
                    </p>
                    <p class="card-stock__text-block">
                        Предложение действует до 1 июля.
                        <br> <br>
                        Всем нашим пациентам, решившим установить 3 или более импланта, мы предоставим бесплатно услуги по седации (лечение во сне) на всё время вмешательства при условии соответствующих показаний.
                    </p>
                </div>

                <div class="stock__card card-stock">
                    <a class="card-stock__img" style="background-image: url(img/main/stock/3.png);"></a>
                    <p class="card-stock__title">
                        Отбеливание зубов с Zoom 4
                    </p>
                    <p class="card-stock__text-block">
                        Предложение действует до 1 июля.
                        <br> <br>
                        Всем нашим пациентам, решившим установить 3 или более импланта, мы предоставим бесплатно услуги по седации (лечение во сне) на всё время вмешательства при условии соответствующих показаний.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>