<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__top-block">
                <div class="info-block__img info-block__img_est-sto" style="background-image: url(img/uslugi/esteticheskaya-stomatologiya/1.jpg);">

                </div>
                <div class="info-block__text">
                    <p>
                        Пациенты, обращаясь к стоматологу, хотят не просто вылечить заболевания зубов, но получить здоровую и красивую улыбку. Благодаря эстетической стоматологии пациенты исправляют различные недостатки: потемнение эмали, зубной налет, небольшие искривления зубов, щели между ними, сколы и т.д.
                        <br><br>
                        Для красивой и белоснежной улыбки в нашей стоматологии вы найдете все необходимые процедуры.
                        <br><br>
                        Так благодаря профессиональной чистке зубов и отбеливанию улучшится цвет и оздоровится ротовая полость. А установка виниров комплексно решает сразу все задачи: создает идеальную форму и делает зубы белоснежными.
                        <br><br>
                        Приоритет стоматологии «Улыбка» — это красивая улыбка наших пациентов! Поэтому все процедуры и услуги клиники направлены на эстетическую привлекательность Ваших зубов!

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>