<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__bottom-block info-block__bottom-block_hir-imp">
                <div class="info-block__img_hir-imp2">
                    <a style="background-image: url(img/uslugi/ortodontiya/1.jpg);"></a>
                    <a style="background-image: url(img/uslugi/ortodontiya/2.jpg);"></a>
                </div>

                <div class="info-block__text">
                    <p>
                        Ортодонтия занимается диагностикой и терапией (исправлением) зубочелюстных аномалий. По статистике более 80% людей (как детей, так и взрослых) страдают нарушением прикуса, и им требуется помощь ортодонта.
                        <br><br>
                        Причины аномалий положения зубов могут быть самыми разными. Например, это нарушения процесса развития и смены зубов, роста челюстей, атипичная закладка зачатков зубов,  несоответствие молочных и постоянных зубов по размеру, макродентия (чрезмерно большой размер зубов), наличие сверхкомплектных зубов  и т.д.
                        <br><br>
                    </p>
                    <h4>Помощь ортодонта требуется, если у Вас:</h4>
                    <ul>
                        <li>Скученность зубов.</li>
                        <li>Наличие нарушения осанки.</li>
                        <li>Родовые травмы или травмы, полученные в детстве.</li>
                        <li>Нарушения носового дыхания.</li>
                        <li>Наличие вредных привычек (нарушения глотания, нарушения речи, подкусывание нижней губы, сосание пальца, надкусывание ручки).</li>
                        <li>Деформация зубного ряда — когда он имеет V-образную, седловидную или трапециевидную форму, сужен, сдавлен или укорочен.</li>
                        <li>Проблемы с прикусом — неправильное расположение челюстей относительно друг друга.</li>
                        <li>Боли, проблемы с височно-нижнечелюстным суставом.</li>
                        <li>Храп, остановки дыхания во время сна, апноэ.</li>
                        <li>По совету специалистов различных направлений, тренеров и врачей.</li>
                    </ul>
                </div>
            </div>

            <div class="info-block__top-block info-block__top-block_two">
                <div class="info-block__img info-block__img_hir-imp info-block__img_hir-imp2" style="background-image: url(img/uslugi/ortodontiya/3.jpg);">

                </div>
                <div class="info-block__text info-block__text_left">
                    <p>
                        В стоматологии «Улыбка» Вы получите полный комплекс услуг ортодонта как для детей, так и для взрослых. Для корректировки прикуса обычно используются съемные ортодонтические конструкции из пластмассы или силикона индивидуального (лабораторного) и стандартного (фабричного) изготовления; несъемная ортодонтическая техника (различные брекет-системы).
                        <br><br>
                        Ортодонтическое лечение является длительным процессом: от 2-3 месяцев до нескольких лет. В это время пациент регулярно наблюдается у врача. Систематически пациенту нужно приходить в клинику для того, чтобы скорректировать изменения в зубочелюстной системе, а также сделать обязательную профессиональную чистку зубов.
                        <br><br>
                        В стоматологии «Улыбка» используются только сертифицированные в РФ брекет-системы. Уникальное сочетание цифровых и традиционных методов диагностики, профилактики и лечения дает возможность нашим пациентам вместе с гибкой ценовой политикой выбрать оптимальный вид оказываемых услуг.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>