<div class="video-reviews-slider">
    <div class="wrapper">
        <div class="video-reviews-slider__content">
            <h2 class="title title_slider">Видео отзывы клиентов о нас</h2>
            <div class="video-reviews-slider__slider">

                <div class="owl-video-reviews owl-carousel owl-theme">

                    <div class="owl-video-reviews__slide">
                        <a style="background-image: url(img/video-clients/slider/1.jpg);"></a>
                    </div>

                    <div class="owl-video-reviews__slide">
                        <a style="background-image: url(img/video-clients/slider/2.jpg);"></a>
                    </div>

                    <div class="owl-video-reviews__slide">
                        <a style="background-image: url(img/video-clients/slider/3.jpg);"></a>
                    </div>

                    <div class="owl-video-reviews__slide">
                        <a style="background-image: url(img/video-clients/slider/3.jpg);"></a>
                    </div>

                    <div class="owl-video-reviews__slide">
                        <a style="background-image: url(img/video-clients/slider/1.jpg);"></a>
                    </div>

                    <div class="owl-video-reviews__slide">
                        <a style="background-image: url(img/video-clients/slider/2.jpg);"></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>