<div class="info-patients-nav">
    <div class="wrapper">
        <div class="info-patients-nav__content">

            <div class="info-patients__nav">

                <div class="info-patients__nav-desktop">
                    <a href="licenses.html" class="info-patients__nav-elem">Лицензия</a>
                    <a href="" class="info-patients__nav-elem">Написать врачу</a>
                    <a href="" class="info-patients__nav-elem">Для иногородних пациентов</a>
                    <a href="" class="info-patients__nav-elem">Права и обязанности</a>
                    <a href="" class="info-patients__nav-elem">Политика обработки данных</a>
                </div>

                <div class="info-patients__nav-mob">
                    <select name="" id="">
                        <option value="" selected disabled>Выберите информацию</option>
                        <option value="">Лицензия</option>
                        <option value="">Написать врачу</option>
                        <option value="">Для иногородних пациентов</option>
                        <option value="">Права и обязанности</option>
                        <option value="">Политика обработки данных</option>
                    </select>
                </div>

            </div>

        </div>
    </div>
</div>