<div class="info-patients">
    <div class="wrapper">
        <div class="info-patients__content">

            <div class="info-patients__nav">

                <div class="info-patients__nav-desktop">
                    <a href="" class="info-patients__nav-elem">Лицензия</a>
                    <a href="" class="info-patients__nav-elem">Написать врачу</a>
                    <a href="" class="info-patients__nav-elem">Для иногородних пациентов</a>
                    <a href="" class="info-patients__nav-elem">Права и обязанности</a>
                    <a href="" class="info-patients__nav-elem">Политика обработки данных</a>
                </div>

                <div class="info-patients__nav-mob">
                    <select name="" id="">
                        <option value="" selected disabled>Выберите информацию</option>
                        <option value="">Лицензия</option>
                        <option value="">Написать врачу</option>
                        <option value="">Для иногородних пациентов</option>
                        <option value="">Права и обязанности</option>
                        <option value="">Политика обработки данных</option>
                    </select>
                </div>

            </div>

            <div class="info-patients__grid">

                <div class="info-patients__elem card-uslugi-top">
                    <a class="info-patients__img card-uslugi-top__img" style="background-image: url(img/patients/1.jpg);"></a>
                    <h3 class="info-patients__title card-uslugi-top__title">Лицензия</h3>
                </div>

                <div class="info-patients__elem card-uslugi-top">
                    <a class="info-patients__img card-uslugi-top__img" style="background-image: url(img/patients/2.jpg);"></a>
                    <h3 class="info-patients__title card-uslugi-top__title">Написать врачу</h3>
                </div>

                <div class="info-patients__elem card-uslugi-top">
                    <a class="info-patients__img card-uslugi-top__img" style="background-image: url(img/patients/3.jpg);"></a>
                    <h3 class="info-patients__title card-uslugi-top__title">Для иногородних пациентов</h3>
                </div>

                <div class="info-patients__elem card-uslugi-top">
                    <a class="info-patients__img card-uslugi-top__img" style="background-image: url(img/patients/4.jpg);"></a>
                    <h3 class="info-patients__title card-uslugi-top__title">Права и обязанности</h3>
                </div>

                <div class="info-patients__elem card-uslugi-top">
                    <a class="info-patients__img card-uslugi-top__img" style="background-image: url(img/patients/5.jpg);"></a>
                    <h3 class="info-patients__title card-uslugi-top__title">Политика обработки данных</h3>
                </div>

            </div>

        </div>
    </div>
</div>