// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --OpenSans: "Open Sans", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --Geometria: "Geometria", sans-serif;

  // colors
  --light-color: #fff;
}
