<div class="intro-uslugi intro-uslugi_not-before" style="background-image: url(img/rights-obligations/back.jpg);">
    <div class="wrapper">
        <div class="intro-uslugi__content">

            <div class="intro__info intro-uslugi__info">
                <h1 class="title title_noline">Памятка о правах и обязанностях пациента</h1>
                <p class="intro__text intro-uslugi__text"></p>
                <div class="intro__btns intro-uslugi__btns">
                    <div class="intro__btn-1">
                        <a data-fancybox data-src="#popup-write" class="btn btn_orange">Записаться онлайн</a>
                    </div>
                    <div class="intro__btn-2">
                        <a data-fancybox data-src="#popup-cons" class="btn btn_trans">Заказать консультацию</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>