<div class="out-of-town-patients">
    <div class="wrapper">
        <div class="out-of-town-patients__content">

            <!-- <p class="out-of-town-patients__text">
                Стоматология «Улыбка» имеет большой опыт в лечении пациентов со всего Краснодарского края и других регионов страны. Для таких людей мы предлагаем специальную программу обслуживания и индивидуальный подход ко времени посещения специалистов.
            </p> -->

            <h3 class="out-of-town-patients__title">
                В соответствии с частью 5 ст. 19 закона Российской Федерации от 21.11.2011г. N323-ФЗ
            </h3>

            <h4 class="out-of-town-patients__title out-of-town-patients__title_small">
                «Об основах охраны здоровья граждан в Российской Федерации» Пациент имеет право на:
            </h4>

            <ul>
                <li>выбор врача и выбор медицинской организации в соответствии с настоящим Федеральным законом;</li>
                <li>профилактику, диагностику, лечение, медицинскую реабилитацию в медицинских организациях в условиях, соответствующих санитарно-гигиеническим требованиям;</li>
                <li>получение консультаций врачей-специалистов;</li>
                <li>облегчение боли, связанной с заболеванием и (или) медицинским вмешательством, доступными методами и лекарственными препаратами;</li>
                <li>получение информации о своих правах и обязанностях, состоянии своего здоровья, выбор лиц, которым в интересах пациента может быть передана информация о состоянии его здоровья;</li>
                <li>получение лечебного питания в случае нахождения пациента на лечении в стационарных условиях;</li>
                <li>защиту сведений, составляющих врачебную тайну;</li>
                <li>отказ от медицинского вмешательства;</li>
                <li>возмещение вреда, причиненного здоровью при оказании ему медицинской помощи;</li>
                <li>допуск к нему адвоката или законного представителя для защиты своих прав;</li>
                <li>допуск к нему священнослужителя, а в случае нахождения пациента на лечении в стационарных условиях — на предоставление условий для отправления религиозных обрядов, проведение которых возможно в стационарных условиях, в том числе на предоставление отдельного помещения, если это не нарушает внутренний распорядок медицинской организации.</li>
            </ul>

            <h3 class="out-of-town-patients__title">
                Статьей 27 закона Российской Федерации от 21.11.2011 г. N 323-ФЗ «Об основах охраны здоровья граждан в Российской Федерации» определены обязанности граждан в сфере охраны здоровья:
            </h3>

            <ul>
                <li>Граждане обязаны заботиться о сохранении своего здоровья.</li>
                <li>Граждане в случаях, предусмотренных законодательством Российской Федерации, обязаны проходить медицинские осмотры, а граждане, страдающие заболеваниями, представляющими опасность для окружающих, в случаях, предусмотренных законодательством Российской Федерации, обязаны проходить медицинское обследование и лечение, а также заниматься профилактикой этих заболеваний.</li>
                <li>Граждане, находящиеся на лечении, обязаны соблюдать режим лечения, в том числе определенный на период их временной нетрудоспособности, и правила поведения пациента в медицинских организациях».</li>
            </ul>

            <h3 class="out-of-town-patients__title">
                Пациент обязан:
            </h3>

            <ul>
                <li>принимать меры к сохранению и укреплению своего здоровья;</li>
                <li>своевременно обращаться за медицинской помощью;</li>
                <li>находясь на лечении, соблюдать режим лечения, в том числе определенный на период его временной нетрудоспособности, и правила поведения пациента в Клинике;</li>
                <li>не приходить на прием к врачу в алкогольном, наркотическом, ином токсическом опьянении; своевременно являться на прием и предупреждать о невозможности явки по уважительной причине; 5) информировать о перенесенных заболеваниях, известных ему аллергических реакциях, противопоказаниях, представить иные сведения, которые могут сказаться на качестве услуг;</li>
                <li>подписать информированное согласие на медицинское вмешательство и другие документы Клиники;</li>
                <li>своевременно выполнять все предписания лечащего врача;</li>
                <li>немедленно информировать лечащего врача об изменении состояния своего здоровья в процессе диагностики и лечения;</li>
                <li>не предпринимать действий, способных нарушить права других пациентов и работников Учреждения;</li>
                <li>соблюдать установленный порядок деятельности Клиники и нормы поведения в общественных местах;</li>
                <li>посещать подразделения Клиники и медицинские кабинеты в соответствии с установленным графиком их работы;</li>
                <li>при посещении медицинских кабинетов надевать на обувь бахилы или переобуваться в сменную обувь;</li>
                <li>не вмешиваться в действия лечащего врача, не осуществлять иные действия, способствующие нарушению процесса оказания медицинской помощи;</li>
                <li>бережно относиться к имуществу Клиники, соблюдать чистоту и тишину в помещениях Клиники.</li>
            </ul>

            <h3 class="out-of-town-patients__title">
                Пациентам и посетителям, в целях соблюдения общественного порядка, предупреждения и пресечения террористической деятельности, иных преступлений и административных правонарушений, соблюдения санитарно-эпидемиологических правил, обеспечения личной безопасности работников Клиники, пациентов и посетителей в зданиях и служебных помещениях, запрещается:
            </h3>

            <ul>
                <li>проносить в здания и служебные помещения Клиники огнестрельное, газовое и холодное оружие, ядовитые, радиоактивные, химические и взрывчатые вещества, спиртные напитки и иные предметы и средства, наличие которых у посетителя либо их применение (использование) может представлять угрозу для безопасности окружающих;</li>
                <li>иметь при себе крупногабаритные предметы (в т.ч. хозяйственные сумки, рюкзаки, вещевые мешки, чемоданы, корзины и т.п.);</li>
                <li>находиться в служебных помещениях Клиники;</li>
                <li>курить на крыльце, лестничных площадках, в коридорах, фойе и др. помещениях Клиники; 5) оставлять детей без присмотра. Несовершеннолетние лица в возрасте до 15 лет могут находиться в зданиях и служебных помещениях Клиники только в сопровождении родителей, близких родственников или законных представителей.</li>
                <li>изымать и выносить из помещения Клиники документы, полученные для ознакомления и со стендов, и из папок информационных стендов;</li>
                <li>находиться в помещениях Клиники в верхней одежде, грязной обуви; преграждать проезд санитарного транспорта к зданиям Клиники.</li>
                <li>запрещается доступ в здание и помещения Клиники лицам в состоянии алкогольного или наркотического опьянения, с агрессивным поведением, имеющим внешний вид, не отвечающим санитарно-гигиеническим требованиям. В случае выявления указанных лиц они удаляются из здания и помещений Клиники сотрудниками охраны и (или) правоохранительных органов.</li>
            </ul>

            <h3 class="out-of-town-patients__title">
                Ответственность за нарушение настоящих Правил:
            </h3>

            <p class="out-of-town-patients__text">
                В случае нарушения пациентами и иными посетителями Правил работники Клиники вправе делать им соответствующие замечания. Воспрепятствование осуществлению процесса оказания медицинской помощи, нарушение общественного порядка в зданиях, служебных помещениях, на территории Клиники, неисполнение законных требований работников Клиники, причинение морального вреда работникам Клиники, причинение вреда деловой репутации Клиники, а также материального ущерба ее имуществу, влечет ответственность, предусмотренную законодательством Российской Федерации.
            </p>

            <h3 class="out-of-town-patients__title">
                График приема граждан руководителем:
            </h3>

            <div class="out-of-town-patients__info-block">
                <p>Прием граждан ведет Иванов Дмитрий Александрович – Главный Врач ООО Стоматологии «УЛЫБКА-СМАЙЛ» по средам с 12.00 до 14.00 <br><br></p>
                <p>Телефон:<a href="tel:+79882454343">+7 988 245 43 43</a><br><br></p>
                <p>Электронная почта:<a href="mailto:ooosmile_23@mail.ru">ooosmile_23@mail.ru</a></p>
            </div>

            <h3 class="out-of-town-patients__title">
                Если Вы считаете, что Ваши права при оказании медицинской помощи не обеспечиваются в полном объёме, нарушены или ущемлены, Вы можете:
            </h3>

            <ol>
                <li>Обратиться к руководителю структурного подразделения, в котором Вам оказывается медицинская помощь, к заместителю руководителя медицинской организации главному врачу Иванову Д.А по телефону +7 918 990 62 02</li>
                <li>Обжаловать решения, действия (бездействия) должностных лиц и сотрудников медицинской организации в установленном договоре порядке.</li>
            </ol>

        </div>
    </div>
</div>