<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__top-block">
                <div class="info-block__img" style="background-image: url(img/uslugi/diagnostika-sostoyaniya-zubov/1.jpg);">

                </div>
                <div class="info-block__text">
                    <p>
                        С заболеваниями зубов сталкивается каждый. Современная врачебная практика предлагает еще до начала лечения выбрать безопасный и эффективный способ решения проблемы.
                        <br><br>
                        Для этого при первом посещении стоматолог проводит диагностику, благодаря которой выявляется проблема, ставится диагноз и определяется план лечения пациента. Врач выслушивает жалобы пациента, расспрашивает о течении болезни, проводит осмотр полости рта и при необходимости назначает консультации смежных специалистов и дополнительные обследования.
                    </p>
                </div>
            </div>

            <div class="info-block__bottom-block">
                <div class="info-block__img info-block__img_before" style="background-image: url(img/uslugi/diagnostika-sostoyaniya-zubov/2.jpg);">
                    <a style="background-image: url(img/uslugi/diagnostika-sostoyaniya-zubov/3.jpg);"></a>
                </div>

                <div class="info-block__text info-block__text_left">
                    Каждый пациент стоматологии «Улыбка» проходит первичное диагностическое обследование до начала лечения. Мы постоянно улучшаем техническое обеспечение клиники, повышаем квалификацию наших врачей. Это необходимо для получения максимально точного диагноза и точного контроля каждого этапа лечения.
                    <br><br>
                    Регулярное обследование и диагностика заболеваний на начальных стадиях помогут остановить развитие патологий и избежать серьезных проблем со здоровьем.
                    <br><br>
                    Посещайте Вашего стоматолога для профилактического осмотра один-два раза в год.
                </div>
            </div>

        </div>
    </div>
</div>