<div class="info-block">
    <div class="wrapper">
        <div class="info-block__content">

            <div class="info-block__top-block">
                <div class="info-block__img info-block__img_ter-sto" style="background-image: url(img/uslugi/terapevticheskaya-stomatologiya/img.jpg);">

                </div>
                <div class="info-block__text info-block__text__ter-sto">
                    <p>
                        Терапевтическая стоматология — это вид стоматологии, включающий профилактику, прогнозирование и лечение болезней ротовой полости.
                        <br><br>
                        Благодаря терапии можно вовремя остановить развитие и вылечить самые различные заболевания.
                        <br><br>
                        К основным направлениям терапевтической стоматологии относят:
                        <br><br>
                    </p>

                    <ul>
                        <li>диагностика, профилактика и лечение различных неинфекционных заболеваний: флюороз, гипоплазия эмали, гиперплазия, амелогенез, дентиногенез, эрозия зубов, клинические дефекты и другое;</li>
                        <li>профилактика, диагностика и лечение кариеса;</li>
                        <li>лечение зубных каналов (эндодонтические процедуры) при лечении запущенного кариеса (периодонтит);</li>
                        <li>моделирование и восстановление частей зуба с использованием пломбировочного материала;</li>
                        <li>лечение и профилактика заболеваний слизистых тканей полости рта;</li>
                        <li>удаление налета над и поддесневых зубных отложений;</li>
                        <li>профилактика, диагностика причин и лечение пародонта (гингивита, пародонтоза, пародонтита).</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>